<nav class="w3-bar w3-card-4 w3-blue-grey">			 
    <a href="/" class="w3-bar-item w3-button w3-left">Home</a>
    <a href="ia_marking_rule.html" class="w3-bar-item w3-button w3-left">IA Marking Rule</a>
    
    <a href="/login" class="w3-bar-item w3-button w3-right w3-hide-small w3-blue">Login</a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
    <div id="demo" class="w3-bar-block w3-blue-grey w3-hide w3-hide-large w3-hide-medium">
        <a href="/login" class="w3-bar-item w3-button w3-right-align w3-blue">Sign Up</a>
    </div>
</nav>