{% extends "base.html" %}
{% block head_title %}Sign Up ||{{block.super}}{% endblock head_title %}
{% block nav%}
<a href="/logout" class="w3-bar-item w3-button w3-right w3-hide-small w3-blue">Logout</a>
<a href="/home" class="w3-bar-item w3-button w3-right w3-hide-small w3-blue">Dashboard</a>
{%endblock nav%}
{%block content%}
<form  method="post" class="w3-card-4"style="width:50%; margin:10px 0 0 25%;padding:20px;" >
    {% csrf_token %}
        <label><b>Students's name</b></label>
        <input type="text" name="name" required><br>
        <label><b>Students's Secret Key</b></label>
        <input type="text" name="key" required><br>
        <label><b>Roll no </b></label><br>
        <input type="number" name="rno" required><span>{{s}} </span><br> 
        <label><b>Course Id</b></label><br>
        <select id="c_id" name="c_id">
            {% for course in cour %}
            <option value="{{course.c_id}}">{{course.cname}}</option>
            {%endfor%}
        </select><br>
        <label><b>Current Sem </b></label><br>
        <input type="number" max="6" name="csem" required><br>
        
        <button type="submit">Sign up</button>
    </form>
{%endblock content%}