{% extends "base.html" %}
{% block head_title %}Sign Up ||{{block.super}}{% endblock head_title %}
{% block nav%}
<a href="/logout" class="w3-bar-item w3-button w3-right w3-hide-small w3-blue">Logout</a>
<a href="/home" class="w3-bar-item w3-button w3-right w3-hide-small w3-blue">Dashboard</a>
{%endblock nav%}
{% block content %}
Enter Details
<form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
      </form>
    {% endblock content %}
